@import '../../styles.scss';

:host {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
  background-image: radial-gradient(circle, #333333, #222222);
  padding-right: 3vmin;
  padding-left: 3vmin;

}

.title-container {
  flex: 1;
  display: flex;

  h1 {
    grid-area: text;
    font-size: 12vmin;
    margin: 0;
    padding: 1vmin;
    align-self: center;
    white-space: nowrap;
  }
}


.progress-container {

  padding: 1vmin;
}
