<div class="scene">
    <app-scene-img  name="sally"></app-scene-img>
</div>
<div class="puzzle puzzle-story" *ngIf="stage == 0">
  <div class="instructions story" >
    <markdown [src]="'assets/story/c-1.md'"></markdown>
  </div>
  <app-next-button (click)="nextStage()" ></app-next-button>
</div>
<div class="puzzle" *ngIf="stage == 1">
  <div class="instructions">
    <p>You have 5 minutes! Everyone needs to put on a costume and make a name tag (with a fake name)!</p>
  </div>
  <div>
    <app-next-button back="true" (click)="prevStage()" ></app-next-button>
    <app-next-button (click)="nextStage()" ></app-next-button>
  </div>
</div>
<div class="puzzle" *ngIf="stage == 2">
  <div class="instructions">
    <p *ngIf="home">Next Puzzle Location: Front hall closet</p>
    <p *ngIf="!home">Password for next puzzle: What do you call someone who steals things?</p>
    <p>What is the password?</p>

  </div>
  <input class="puzzle-input" #code  (keyup.enter)="testCode(code.value)">
  <div>
    <app-next-button back="true" (click)="prevStage()" ></app-next-button>
    <app-next-button (click)="testCode(code.value)"></app-next-button>
  </div>
</div>
