<div class="scene">
    <app-scene-img  name="library"></app-scene-img>
</div>
<div class="puzzle" *ngIf="stage == 0">
    <app-next-button (click)="nextStage()" ></app-next-button>
  </div>
<div class="puzzle" *ngIf="stage == 1">
  <div class="instructions">
    <p>Find the books with the red paw prints. Look for the code papers, and see if you can understand the code. Once you have it, try to open the locked door!</p>
  </div>

  <input class="puzzle-input" #directions  (keyup.enter)="testInput(directions.value)">

  <app-next-button (click)="testInput(directions.value)" ></app-next-button>
</div>
<div class="puzzle" *ngIf="stage == 2">
  <div class="instructions">
    <p>Next Puzzle Location: In a red room</p>
    <p>What is the next code?</p>
  </div>
  <input class="puzzle-input" #code  (keyup.enter)="testCode(code.value)">

  <app-next-button (click)="testCode(code.value)"></app-next-button>
</div>
