<div class="scene">
    <app-scene-img  name="library"></app-scene-img>
</div>
<div class="puzzle puzzle-story" *ngIf="stage == 0">
  <div class="instructions story" >
    <markdown [src]="'/assets/story/f-1.md'"></markdown>
  </div>
  <app-next-button (click)="nextStage()" ></app-next-button>
</div>
<div class="puzzle" *ngIf="stage == 1">
  <div class="instructions">
    <p>Find the books with the red paw prints. Look for the code papers, and see if you can understand the code. Once you have it, try to open the locked door!</p>
    <p class="small"><a href="/assets/printables/library-code.pdf" target="_blank">Three secret code papers [PDF]</a></p>
  </div>

  <input class="puzzle-input" #directions  (keyup.enter)="testInput(directions.value)">
  <div>
    <app-next-button back="true" (click)="prevStage()" ></app-next-button>
    <app-next-button (click)="testInput(directions.value)" ></app-next-button>
  </div>
 </div>
<div class="puzzle" *ngIf="stage == 2">
  <div class="instructions">
    <p *ngIf="home">Next Puzzle Location: In a red room</p>
    <p *ngIf="!home">Password for next puzzle: C3-P0, R2-D2, BB-8, the Iron Giant, Asimo, Roomba, are all...? </p>
    <p>What is the password?</p>
  </div>
  <input class="puzzle-input" #code  (keyup.enter)="testCode(code.value)">
  <div>
    <app-next-button back="true" (click)="prevStage()" ></app-next-button>
    <app-next-button (click)="testCode(code.value)"></app-next-button>
  </div>
</div>
