<div class="scene">
    <app-scene-img  name="metamouse"></app-scene-img>
</div>
<div class="puzzle" *ngIf="stage == 0">
    <app-next-button (click)="nextStage()" ></app-next-button>
  </div>
<div class="puzzle" *ngIf="stage == 1">
  <div class="instructions">
    <p>Work together to build a bridge out of Mega Blocks that is at least 60cm long. See how many Hot Wheels cars it will hold. It must hold the weight of at least 10 cars.</p>
  </div>

  <app-next-button (click)="nextStage()" ></app-next-button>
</div>
<div class="puzzle" *ngIf="stage == 2">
  <div class="instructions">
    <p>Next Puzzle Location: Inside a toy truck</p>
    <p>What is the next code?</p>
  </div>
  <input class="puzzle-input" #code  (keyup.enter)="testCode(code.value)">

  <app-next-button (click)="testCode(code.value)"></app-next-button>
</div>
